.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}
.row-footer {
  margin: 0px auto;
  padding: 20px 0px;
  background-color: #8b8b8b;
}
.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  color: floralwhite;
  background-image : url("../images/background.jpg");
}
.carousel {
  background: #1a237e;
}
.carousel .item {
  height: 300px;
}
.carousel .item img {
  left: 0;
  min-height: 300px;
  position: absolute;
  top: 0;
}
.navbar-inverse {
  background: #a54f0d;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a {
  background: #76390a;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:hover {
  background: #76390a;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:focus {
  background: #76390a;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a {
  background: #76390a;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:hover {
  background: #76390a;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:focus {
  background: #76390a;
  color: #ffffff;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  background-color: #a54f0d;
  color: #eeeeee;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #000000;
}
.navbar-inverse .navbar-nav .open .dropdown-menu {
  background-color: #a54f0d;
  color: bisque;
}
address {
  color: #0f0f0f;
  font-size: 80%;
  margin: 0px;
}
body {
  align: center;
  padding: 50px 0px 0px 0px;
  z-index: 0;
}
.tab-content {
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding: 10px;
}
.affix {
  top: 100px;
}
#carouselButtons {
  bottom: 0px;
  position: absolute;
  right: 0px;
}

.panel {
  display: inline-block;
  background: #ffffff;
  min-height: 100px;
  height: 150px;
  padding: 10px;
  border: solid #dddddd;
}
.panel-heading {
    align-content: center;
    text-align: center;
    background-color: #a54f0d;
    color: floralwhite;
    
}
.panel-body{
    text-align: center;
    flex-wrap: wrap;
}

.input-group-btn {
    color : burlywood;
    background-color: burlywood;  
}
    
.btn-orange {
    color : #ffffff;
    background-color : #a54f0d
}