
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a href="index.html">Home</a></li>
                   <li><a href="index.html#/bizlist">BizList</a></li>
                   <li class="active">Biz Details</li>
               </ul>
            </div>
            <div class="col-xs-12">
               <h3>Biz Details</h3>
               <hr>
            </div>
        </div>
        <div class="row row-content">
            <div class="col-xs-12" ng-if="!showBiz">
                <h3>{{message}}</h3>
            </div>
            <div class="col-xs-12" ng-if="showBiz">
                <button class="btn btn-xs btn-orange pull-right"
                    type="button" ui-sref="app.search">
                    Back to Search
                </button> 
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                        <img class="media-object img-thumbnail" 
                        ng-src={{biz.image}} alt="Image">
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">{{biz.name}} 
                        <span class="label label-danger">{{biz.label}}</span> 
                        <p>{{biz.description}}</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-9 col-xs-offset-1">
                   <h4>Customer Reviews &nbsp;&nbsp;&nbsp;
                       <small>Sort by: &nbsp; 
                            <input type="text" ng-model="orderText"></p>   
                       </small></h4>
                    <ul class="list-unstyled">
                        <li ng-repeat="review in biz.reviews | orderBy:orderText">
                          <blockquote>
                             <p>{{review.rating}} Stars</p>
                             <p>{{review.review}}</p>
                             <footer>{{review.postedBy.firstname}} {{review.postedBy.lastname}}, {{review.updatedAt | date:'MMM. dd, yyyy'}}</footer>
                          </blockquote>
                        </li>
                    </ul>
            </div>
            <div class="col-xs-9 col-xs-offset-1">
                    <ul class="list-unstyled" ng-show="reviewForm.$valid && !reviewForm.$pristine">
                        <li>
                          <blockquote>
                             <p>{{myreview.rating}} Stars</p>
                             <p>{{myreview.review}}</p>
                          </blockquote>
                        </li>
                    </ul>
                <form class="form-horizontal" name="reviewForm" ng-submit="submitReview()" novalidate>
                    <div class="form-group">
                       <label for="numpeople" class="col-sm-2 control-label">
                        Number of Stars</label>
                        <div class="col-sm-10">
                            <label class="radio-inline">
                            <input type="radio" name="rating" ng-model="myreview.rating"
                             id="rating1" value=1> 1
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="rating" ng-model="myreview.rating"
                                 id="rating2" value=2> 2
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="rating" ng-model="myreview.rating"
                                 id="rating3" value=3> 3
                            </label>
                             <label class="radio-inline">
                                <input type="radio" name="rating" ng-model="myreview.rating"
                                 id="rating4" value=4> 4
                            </label>
                             <label class="radio-inline">
                                <input type="radio" name="rating" ng-model="myreview.rating"
                                 id="rating5" value=5 checked> 5
                            </label>
                        </div>
                    </div>                    
                    <div class="form-group"  ng-class="{ 'has-error' : reviewForm.reviews.$error.required && !reviewForm.reviews.$pristine }">
                        <label for="reviews" class="col-sm-2 control-label">Your reviews</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="12" name="reviews"
                                ng-model="myreview.review" required>
                            </textarea>
                         <span ng-show="reviewForm.reviews.$error.required && !reviewForm.reviews.$pristine" class="help-block">Your reviews are required.</span>
                       </div>
                    </div> 
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-orange" ng-disabled="reviewForm.$invalid">Submit review</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

</div>

