<div class="ngdialog-message" novalidate>
    <div class="">
            <h3>Edit Business Details </h3>
        </div>
    <form ng-submit="editBusiness()">
                <div class="form-group">
                    <label class="sr-only" for="name">Name</label>
                    <input type="text" class="form-control input-sm" id="name" placeholder="Business Name" value={{newBusiness.name}} ng-model={{newBusiness.name}}>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="image">Image</label>
                    <input type="text" class="form-control input-sm" id="image" placeholder="Image" value={{newBusiness.image}} ng-model={{newBusiness.image}}>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="category">Category</label>
                    <input type="text" class="form-control input-sm" id="category" placeholder="Category" value={{newBusiness.category}} ng-model={{newBusiness.category}}>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="label">Label</label>
                    <input type="text" class="form-control input-sm" id="label" placeholder="label" value={{newBusiness.label}} ng-model={{newBusiness.label}}>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="description">Description</label>
                    <input type="text" class="form-control input-sm" id="description" placeholder="description" value={{newBusiness.description}} ng-model={{newBusiness.description}}>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="featured">featured</label>
                    <input type="text" class="form-control input-sm" id="featured" placeholder="featured" value={{newBusiness.featured}} ng-model={{newBusiness.featured}}>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="zipcode">Zipcode</label>
                    <input type="text" class="form-control input-sm" id="zipcode" placeholder="zipcode" value={{newBusiness.zipcode}} ng-model={{newBusiness.zipcode}}>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="password">Serving Radius</label>
                    <input type="text" class="form-control input-sm" id="servingradius" placeholder="servingradius" value={{newBusiness.servingradius}} ng-model={{newBusiness.servingradius}}>
                </div>
                <button type="submit" class="btn btn-info btn-sm">Update</button>
                <button type="button" class="btn btn-default btn-sm" ng-click=closeThisDialog("Cancel")>Cancel</button>
        
      
    </form>
    </div>