
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a href="index.html">Home</a></li>
                   <li class="active">Favorites</li>
               </ul>
            </div>
            <div class="col-xs-12">
               <h3>My Favorites</h3>
               <hr>
            </div>
        </div>
        <div class="row row-content">
            <div class="col-xs-12" ng-if="!showBizList">
                <h3>{{message}}</h3>
            </div>
            <div><button ng-click="toggleDetails()" class="btn btn-xs btn-orange pull-right"
                    type="button">
                    {{showDetails ? 'Hide Details':'Show Details'}}
                </button>
                 <button ng-click="toggleDelete()" class="btn btn-xs btn-orange pull-right"
                    type="button">
                    {{showDelete ? 'Hide Delete Button':'Show Delete Button'}}
                </button></div>
            <div class="col-xs-12" ng-if="showBizList">
               <ul class="media-list tab-pane fade in active">
                <li class="media" ng-repeat="biz in bizes | filter:filtText">
                    <div class="media-left media-middle">
                        <!--Changed the {id: biz._id} to {_id: biz._id} in the line below this-->
                        <a ui-sref="app.bizdetails({id: biz._id})">
                        <img class="media-object img-thumbnail"
                        ng-src={{biz.image}}>
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">{{biz.name}}</h2>
                        <span class="label label-danger label-xs">{{biz.label}}</span>
                        <p ng-show="showDetails">{{biz.description}}</p>
                         <button  ng-show="showDelete" ng-click="deleteFavorite(biz._id)" class="btn btn-xs btn-danger pull-right"
                    type="button">
                          <i class="fa fa-remove"></i>
                        </button>
                    </div>
                </li>
            </ul>

            <!--</div>-->
            </div>
        </div>

    </div>
