 <div class="row row-content">
    <div class="container">
    <div class="panel col-sm-3 col-xs-12">
      <div class="panel-heading">Quickly search for local businesses</div>
      <div class="panel-body">Just enter your zip code to find out local businesses serving your area!</div>
    </div>
    <div class="panel col-sm-offset-1 col-sm-3 col-xs-12">
      <div class="panel-heading">Create your home business profile</div>
      <div class="panel-body">Register now to be able to create your own home business page!</div>
    </div>
    <div class="panel col-sm-offset-1 col-sm-3 col-xs-12">
      <div class="panel-heading">Review businesses</div>
      <div class="panel-body">Add reviews for businesses. Support your local community.</div>
    </div>

    </div>
</div>